* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.container {
  background-color: #010d1cc4;
  height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 6.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 3.25rem;
  width: 50%;
  height: max-content;
  border-radius: 0.625rem;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(6px);
}

.img {
  width: 50%;
}
.img img {
  width: 100%;
}

.random_Quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  text-align: center;
}

button {
  color: #fff;
  padding: 10px 20px;
  outline: transparent;
  border-radius: 10px;
  background-color: #1242d0bd;
  border: transparent;
  font-size: 15px;
  cursor: pointer;
}
