* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;

}

.container {
    background-color: #010d1cc4;
height: 100vh;;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 6.25rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    gap: 3.25rem;
    width: 50%;
    height: max-content;
    border-radius: .625rem;
    background-color:  rgba(255, 255, 255, 0.3);;
    backdrop-filter: blur(6px);



}

.img{
    font-size: 3.125rem;
}

.random_joke{
    text-align: center;
  font-size: 20px;

}

button {
  color: #fff;
  padding: 10px 20px;
  outline: transparent;
  border-radius: 10px;
  background-color: #1242d0bd;
  border: transparent;
  font-size: 15px;
  cursor: pointer;
}